@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @using (Html.BeginForm("Update","Home",FormMethod.Post, new {@enctype = "multipart/form-data"}))
    {
        <b>File Upload</b>
        <br><span style="color:blue">@ViewBag.message</span>
        <br>
        <input type="file" name="userfile"> </input>
        <br>
        <br>
        <input type="submit" value=" Obtner Foto "></input>
        <br> 
        <br>
        <img src="../image/@ViewBag.picture" alt="Sample Image" width="150px" />
    }
    
</div>
<br>


<div class="text-center">
    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>
</div>

<br>
<div class="text-center">
    <textarea name="Text1" cols="40" rows="5"></textarea>
    <br>
    @using (Html.BeginForm("Guardar","Home",FormMethod.Post, new {@enctype = "multipart/form-data"}))
    {
        <input type="submit" value="guardar"/>
    }
</div>